# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 10 * * *'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  container_job:
    runs-on: ubuntu-latest
    container:
      image: minio/mc:RELEASE.2021-04-22T17-40-00Z
    steps:
      - name: alies minio bucket
        env:
          DEST_MINIO_HOST: ${{ secrets.DEST_MINIO_HOST }}
          DEST_MINIO_ACCESS_KEY: ${{ secrets.DEST_MINIO_ACCESS_KEY }}
          DEST_MINIO_SECRET_KEY: ${{ secrets.DEST_MINIO_SECRET_KEY }}
          DEST_MINIO_BUCKET: ${{ secrets.DEST_MINIO_BUCKET }}
          SOURCE_MINIO_HOST: ${{ secrets.SOURCE_MINIO_HOST }}
          SOURCE_MINIO_ACCESS_KEY: ${{ secrets.SOURCE_MINIO_ACCESS_KEY }}
          SOURCE_MINIO_SECRET_KEY: ${{ secrets.SOURCE_MINIO_SECRET_KEY }}
          SOURCE_MINIO_BUCKET: ${{ secrets.SOURCE_MINIO_BUCKET }}
      - runs: |
          mc alias set destBucket $DEST_MINIO_HOST $DEST_MINIO_ACCESS_KEY $DEST_MINIO_SECRET_KEY
          mc alias set sourceBucket $SOURCE_MINIO_HOST $SOURCE_MINIO_ACCESS_KEY $SOURCE_MINIO_SECRET_KEY
      - name: buckupAll
      - runs: |
          mc cp --recursive sourceBucket/$SOURCE_MINIO_BUCKET  destBucket/$DEST_MINIO_BUCKET &>>mcBackup.log
          mc cp ./mcBackup.log  destBucket/mcBackup
